{% extends '../includes/base.html' %}
{% block title %}Empleados{% endblock %}


{% block content %}
<h1>Empleados por área</h1>

<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombres</th>
        <th scope="col">Apellidos</th>
        <th scope="col">Departamento</th>
        <th scope="col">Acción</th>
      </tr>
    </thead>
    <tbody>
        {% for e in empleados %}
      <tr>
        <th scope="row">{{e.id}}</th>
        <td>{{e.primer_nombre}}</td>
        <td>{{e.apellidos}}</td>
        <td>{{e.departamento}}</td>
        <td><a class="btn btn-primary" href="{% url 'personal_app:ver-detalle' e.id %}" role="button">Ver</a>            </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

<br><br>
{% endblock %}

